.hero {
  display: flex;
  height: 765px;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.heroText {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
}

.heroImg {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
