:root {
  font-family: "Roboto Mono", monospace;
  --light-color: rgba(0, 0, 0, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  min-height: 100vh;
  padding-bottom: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}
.center-txt {
  text-align: center;
}

.box-shadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
/* Header */
h1 {
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}

/* Number */
.number-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 10px 0;
  border-radius: 10px;
}
.number {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 5px;
}
.number-input {
  font-size: 20px;
  padding: 10px;
  width: 40%;
}
.warning {
  background-color: greenyellow;
  width: max-content;
  margin: 10px auto;
  display: none;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
}

.warning-msg {
  font-size: 14px;
}
/* Main Content */
.main-container {
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 80px;
}
/* Tools */
.tools {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  border-radius: 10px;
  padding: 10px;
  max-height: 350px;
  max-width: 500px;
}
.tool-container {
  margin: 10px 0;
  border-bottom: 1px solid var(--light-color);
}
.tool {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.tool:hover {
  transform: scale(1.3);
}
.tool:active {
  opacity: 0.5;
}
.tool-name {
  margin-top: -5px;
}

/* Grid */
.grid {
  display: grid;
  height: 600px;
  width: 650px;
}
.block {
  border: 1px solid var(--light-color);
  cursor: pointer;
}
@media (max-width: 1193px) {
  .main-container {
    flex-direction: column;
  }
  .tools {
    flex-direction: row;
    gap: 50px;
  }
  .grid {
    margin-top: -50px;
    max-width: 500px;
    max-height: 500px;
  }
  .tool-container {
    border: none;
  }
}
